<!--The content below is only a placeholder and can be replaced.-->
<div class="container content">

  <div class="row">
    <h1>
      aca va el titulo principal:
    {{ title }}
    </h1>
  </div>
  
<app-lista-destinos></app-lista-destinos>

</div>
